body { margin: 0; }
div {
    display: inline-block;
	text-align: left;
    max-width: 400px;
    min-width: 300px;
}
.content {
    max-width: 900px;
	text-align: center;
	background: rgb(220,255,220);
	border: 1px solid rgb(50,50,50);
	padding: 8px;
}
.menu {
	text-align: center;
    max-width: 460px;
	background: rgb(220,230,250);
	border: 1px solid rgb(50,50,50);
	border-bottom: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 11px;
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
	font-size: 10px;
	box-sizing: border-box;
  }
}
.menu a {
	color: black;
	font-weight: normal;
	padding: 4px;
}
.menu a:hover {
	color: rgb(155,240,255);
	background: rgb(50,50,255);
}
h5 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	font-weight: normal;
}

